
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
eval /home/binh/anaconda3/bin/conda "shell.fish" "hook" $argv | source
# <<< conda initialize <<<
export BROWSER="/usr/bin/google-chrome-stable"

function ga
	git add $argv[1]
end

function gc
	git commit -a -m $argv[1]
end

function gp
	git push
end

function acp
	git add .
	git commit -m $argv[1]
	git push
end

function gl
	git log --pretty=oneline --abbrev-commit
end

function f
	find $argv[1] -iname "*$argv[2]*"
end

function fish_greeting
	echo 'Keep studying, keep programming.'
end

function ccp
touch input.txt test.txt &&
true > input.txt &&
true > output.txt &&
cp template.cpp "$argv[1].cpp"
code "$argv[1].cpp" input.txt test.txt
end

function tcp
g++ "$argv[1].cpp" -o "a" &&
chmod +x "a" &&
./"a" < input.txt > output.txt &&
diff -y --color output.txt test.txt
end

function fish_prompt 
  set -l normal (set_color normal)
	set -l last_pipestatus $pipestatus
  set -l last_status $status
  set -l prompt_status (__fish_print_pipestatus " [" "]" "|" (set_color $fish_color_status) (set_color --bold $fish_color_status) $last_pipestatus)
	echo -n -s (set_color 3CB043) (dirs) $normal (fish_vcs_prompt) $prompt_status ' > '
end