
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
eval /home/binh/anaconda3/bin/conda "shell.fish" "hook" $argv | source
# <<< conda initialize <<<
export BROWSER="/usr/bin/firefox"
function gc
	git add .
	git commit -m $argv[1]
end
function gp
	git add .
	git commit -m $argv[1]
	git push
end
function gl
	git log --pretty=oneline --abbrev-commit
end
function f
	find $argv[1] -iname "*$argv[2]*"
end
function fish_greeting
end
