[user]
	name = Thanh Binh Le
	email = ltbinh3999@gmail.com
[core]
	editor = code --wait
	excludesFile = /home/binh/.gitignore
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[init]
    defaultBranch = main