{
  "git.enableSmartCommit": true,
  "files.eol": "\n",
  "editor.minimap.enabled": false,
  "editor.fontFamily": "Fira Code",
  "editor.fontLigatures": true,
  "editor.fontSize": 20,
  "editor.codeActionsOnSave": {
    "source.fixAll": true
  },
  "editor.rulers": [80],
  "editor.formatOnSave": true,
  "editor.tabSize": 2,
  "terminal.integrated.fontSize": 20,
  "terminal.integrated.fontFamily": "Fira Code",
  "explorer.confirmDragAndDrop": false,
  "terminal.integrated.shell.linux": "/usr/bin/fish",
  "window.menuBarVisibility": "toggle",
  "files.associations": {
    "*.config": "shellscript",
    "ostream": "cpp",
    "iostream": "cpp"
  },
  "search.useGlobalIgnoreFiles": true,
  "todo-tree.tree.showScanModeButton": false,
  "workbench.iconTheme": "vscode-icons",
  "todo-tree.filtering.excludeGlobs": ["node_mudules"],
  "vsicons.dontShowNewVersionMessage": true,
  "gitlens.codeLens.enabled": false,
  "todo-tree.highlights.enabled": false,
  "typescript.updateImportsOnFileMove.enabled": "always",
  "python.showStartPage": false,
  "[python]": {
    "editor.tabSize": 4
  },
  "python.languageServer": "Pylance",
  "python.formatting.provider": "black",
  "workbench.editorAssociations": [
    {
      "viewType": "jupyter.notebook.ipynb",
      "filenamePattern": "*.ipynb"
    }
  ],
  "todo-tree.general.tags": [
    "BUG",
    "HACK",
    "FIXME",
    "TODO",
    "XXX",
    "[ ]",
    "[x]"
  ],
  "todo-tree.regex.regex": "(//|#|<!--|;|/\\*|^|^\\s*(-|\\d+.))\\s*($TAGS)",
  "editor.suggestSelection": "first",
  "jupyter.alwaysTrustNotebooks": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "workbench.colorTheme": "One Dark Pro",
  "workbench.startupEditor": "newUntitledFile"
}
